NODE_ENV=development
PORT=3000
DB_USER=root
DB_PASS=Vbv080303#
DB_NAME=coffemanage
DATABASE_URL="mysql://root:Vbv080303%23@localhost:3306/coffemanage"

JWT_SECRET=4a2cbace23bfe6877465bab634ddddb414c6bacfec278ff975891b10bcf810b3
JWT_EXPIRES_IN=1d

BCRYPT_SALT_ROUNDS=10
CORS_ORIGIN=http://localhost:3000
